@import "../../assets/style/variables.scss";

.home-container {
  width: 100%;
  height: calc(100vh - 48px);

  .home-wrapper {
    .card-login {
      border: 1px solid $black;
      border-radius: 16px;
      background-color: rgba($teal, 0.8);

      .card-title {
        text-align: center;
      }
      .button{
        text-align: center;
      }

      .inputText {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-large) {
  .home-container {
    height: calc(100vh - 64px);
  }
}
