/**********************************
BREAKPOINT
***********************************/
$breakpoint-small: 576px;
$breakpoint-medium: 720px;
$breakpoint-large: 960px;
$breakpoint-xlarge: 1140px;

/**********************************
TYPOGRAPHY
***********************************/
//$font-family: "Hanalei", cursive;
$font-family: "Lato", sans-serif;
$font-size: 18px;

/**********************************
COLOR
***********************************/
$black: black;
$white: white;
$aqua: aqua;
$silver: silver;
$teal: teal;
